@mixin margin{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}


@mixin card{
     background: url('/backgroundImage.png') no-repeat center center;
  background-size: cover;
  padding: 2rem;
  border-radius: 16px;
  position: relative;
  z-index: 0;

  .card {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  border-radius: 12px;
  backdrop-filter: blur(6px);
  margin-bottom: 1.5rem;
}
}


@mixin respond($breakpoint) {
  @if $breakpoint == small {
    @media (max-width: 480px) { @content; }
  }
  @else if $breakpoint == medium {
    @media (max-width: 768px) { @content; }
  }
  @else if $breakpoint == large {
    @media (max-width: 1024px) { @content; }
  }
}
